* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.fas {
  background: -o-linear-gradient(bottom, #ff8f5a, #ff2f96 65%);
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8f5a), color-stop(65%, #ff2f96));
  background: linear-gradient(to top, #ff8f5a, #ff2f96 65%);
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-tel {
  padding-bottom: 3px;
  margin-right: 28px;
  font-size: 25px;
  font-weight: 700;
  color: black;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.header__right-tel:hover {
  color: #f53f4f;
}

.header__btn {
  border: 1px solid #f53f4f;
  color: #f53f4f;
  padding: 12px 40px;
  -webkit-transition: color .3s,
              background-color .3s;
  -o-transition: color .3s,
              background-color .3s;
  transition: color .3s,
              background-color .3s;
}

.header__btn:hover {
  color: white;
  background-color: #f53f4f;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav__btn {
  display: none;
  width: 45px;
  height: 40px;
  background: url(../img/icons/menu_btn.png) center no-repeat;
  background-size: contain;
}

.menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav__item:not(:last-child) {
  margin-right: 31px;
}

.header__btn-mob {
  display: none;
  width: 26px;
  height: 26px;
  border: 1px solid #fa279b;
  border-radius: 50%;
}

.header__btn-phone {
  display: block;
}

.menu-item__link {
  position: relative;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.menu-item__link:hover {
  color: #fc557c;
}

.menu-item__link::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: '';
  height: 1px;
  width: 100%;
  opacity: 0;
  background: #fc557c;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.menu-item__link:hover::after {
  opacity: 1;
}

.header__menu-nav-mob {
  display: none;
  margin-top: 30px;
}

.menu-nav-mob__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-nav-mob__item:not(:last-child) {
  margin-bottom: 30px;
}

.btn-color-orange {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: white;
  background-color: #ff4e2e;
  border: 1px solid #ff4e2e;
  -webkit-transition: color .3s,
              background-color .3s;
  -o-transition: color .3s,
              background-color .3s;
  transition: color .3s,
              background-color .3s;
}

.btn-color-orange:hover {
  border: 1px solid #fc557c;
  color: #fc557c;
  background-color: transparent;
}

.about-me {
  height: 693px;
  position: relative;
  background: url(../img/contents/figure.svg) 1100px 60px no-repeat;
  overflow: hidden;
  -webkit-transition: background-position 1s;
  -o-transition: background-position 1s;
  transition: background-position 1s;
}

.about-me__container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me__info {
  position: relative;
  -webkit-transform: translateY(-12px);
      -ms-transform: translateY(-12px);
          transform: translateY(-12px);
  z-index: 2;
}

.about-me__name {
  margin-bottom: 15px;
  font-size: 80px;
  font-weight: 900;
}

.about-me__professions {
  margin-bottom: 45px;
  font-size: 25px;
  color: #8993ad;
}

.about-me__btn {
  padding: 18px 70px;
}

.about-me__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 629px;
  margin-left: auto;
  -webkit-filter: drop-shadow(5px 0 10px rgba(0, 0, 0, .2));
          filter: drop-shadow(5px 0 10px rgba(0, 0, 0, .2));
  -webkit-transition: transform .5s linear;
  -o-transition: transform .5s linear;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
  -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
          transform: translateX(80px);
  z-index: 2;
}

.about-me__backgrounds-icons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.backgrounds-icons__item {
  position: absolute;
  font-weight: 900;
  -webkit-transition: all 1s linear 1s;
  -o-transition: all 1s linear 1s;
  transition: all 1s linear 1s;
  opacity: 1;
}

.backgrounds-icons__item_color_gradient {
  background: -o-linear-gradient(bottom, #ff8f5a, #ff2f96 65%);
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8f5a), color-stop(65%, #ff2f96));
  background: linear-gradient(to top, #ff8f5a, #ff2f96 65%);
  -webkit-background-clip: text;
  color: transparent;
}

.backgrounds-icons__item_property_1 {
  top: 78px;
  left: -230px;
  -webkit-transform: scale(3) rotate(30deg);
      -ms-transform: scale(3) rotate(30deg);
          transform: scale(3) rotate(30deg);
}

.backgrounds-icons__item_property_2 {
  top: 97px;
  left: 428px;
  -webkit-transform: scale(1.8) rotate(-13deg);
      -ms-transform: scale(1.8) rotate(-13deg);
          transform: scale(1.8) rotate(-13deg);
}

.backgrounds-icons__item_property_3 {
  top: 476px;
  left: 600px;
  -webkit-transform: scale(2.4) rotate(18deg);
      -ms-transform: scale(2.4) rotate(18deg);
          transform: scale(2.4) rotate(18deg);
}

.backgrounds-icons__item_property_4 {
  top: 310px;
  left: -118px;
  -webkit-transform: scale(3.5) rotate(18deg);
      -ms-transform: scale(3.5) rotate(18deg);
          transform: scale(3.5) rotate(18deg);
}

.backgrounds-icons__item_property_5 {
  top: 606px;
  left: 20px;
  -webkit-transform: scale(2.5) rotate(-22deg);
      -ms-transform: scale(2.5) rotate(-22deg);
          transform: scale(2.5) rotate(-22deg);
}

.backgrounds-icons__item_color_white {
  color: white;
}

.backgrounds-icons__item_property_6 {
  top: 50px;
  left: 140px;
  -webkit-transform: scale(2.5) rotate(30deg);
      -ms-transform: scale(2.5) rotate(30deg);
          transform: scale(2.5) rotate(30deg);
}

.backgrounds-icons__item_property_7 {
  top: 300px;
  left: 1500px;
  -webkit-transform: scale(2.5) rotate(-20deg);
      -ms-transform: scale(2.5) rotate(-20deg);
          transform: scale(2.5) rotate(-20deg);
}

.backgrounds-icons__item_property_8 {
  top: 320px;
  left: 1200px;
  -webkit-transform: scale(2) rotate(20deg);
      -ms-transform: scale(2) rotate(20deg);
          transform: scale(2) rotate(20deg);
}

.backgrounds-icons__item_property_9 {
  top: 300px;
  left: 260px;
  -webkit-transform: scale(3.5) rotate(20deg);
      -ms-transform: scale(3.5) rotate(20deg);
          transform: scale(3.5) rotate(20deg);
}

.backgrounds-icons__item_property_10 {
  top: 70px;
  left: 1600px;
  -webkit-transform: scale(2.5) rotate(-20deg);
      -ms-transform: scale(2.5) rotate(-20deg);
          transform: scale(2.5) rotate(-20deg);
}


.backgrounds-icons__item_start_position {
  top: 50%;
  left: 50%;
  opacity: 0;
}

.main__ability {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
  background-color: white;
}

.title {
  font-size: 54px;
}

.ability__article-container {
  margin-top: 100px;
  margin-bottom: 90px;
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ability__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ability__row:nth-child(2n-1) {
  margin-right: 43px;
}

.ability-container__article {
  max-width: 260px;
}

.ability-container__article:not(:last-child) {
  margin-right: 43px;
}

.ability-container__img {
  margin-bottom: 20px;
}

.ability-container__description {
  color: #8993ad;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.ability__btn {
  padding: 20px 60px;
}

.main__examples {
  text-align: center;
}

.examples {
  padding-top: 95px;
  padding-bottom: 100px;
  background-color: #fbfbfb;
}

.examples__title {
  margin-bottom: 95px;
}

.slider-btn {
  position: absolute;
  top: 115px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  background: #fbfbfb url(../img/icons/arrow.png) center no-repeat;
  z-index: 10;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.slider-btn:hover {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.08);
}

.slider-btn-prev {
  left: -20px;
}

.slider-btn-next {
  right: -20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-slide {
  outline: none
}

.slider-examples__img {
  max-width: 100%;
  margin: 0 auto;
}

.slider-examples__name {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  color: #8993ad;
}

.slick-dots {
  bottom: -120px;
}

.slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
  color: grey;
}

.slick-dots li.slick-active button:before {
 color: #ff4e2e;
}

.examples__btn {
  margin-top: 95px;
  padding: 20px 60px;
}

.cost-service {
  background: -o-linear-gradient(77deg, rgba(255,143,90,1) 14%, rgba(255,47,150,1) 60%);
  background: linear-gradient(13deg, rgba(255,143,90,1) 14%, rgba(255,47,150,1) 60%);
}

.main__cost-service {
  overflow: hidden;
  position: relative;
}

.cost-service__container {
  padding: 80px 100px;
}

.cost-service__description {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  color: white;
}

.cost-service__note {
  padding-right: 150px;
  margin-left: 14px;
  text-indent: -14px;
  font-size: 18px;
  line-height: 30px;
  color: white;
  opacity: .7;
}

.cost-service__symbol {
  font-size: 20px;
}

.main__modal {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  padding-left: 1em;
  padding-right: 1em;
  z-index: 10;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__window {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #8993ad;
}

.modal__title {
  font-size: 20px;
  font-weight: 400;
}

.modal__body {
  margin-top: 23px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  margin-bottom: 20px;
  outline-color: #fa279b;
  padding: 0 10px;
  font-size: 18px;
  height: 40px;
  border: 1px solid #8993ad;
  border-radius: 5px;
}

.modal__input::-webkit-input-placeholder {
  font-size: 18px;
}

.modal__input::-moz-placeholder {
  font-size: 18px;
}

.modal__input:-ms-input-placeholder {
  font-size: 18px;
}

.modal__input::-ms-input-placeholder {
  font-size: 18px;
}

.modal__input::placeholder {
  font-size: 18px;
}

.modal__btn-submit {
  border-radius: 5px;
  padding: 10px 0;
}

.modal__note {
  text-align: center;
  margin-top: 23px;
  padding-top: 20px;
  border-top: 1px solid #8993ad;
  font-size: 14px;
  color: #8993ad;
}

.footer__top {
  background-color: white;
  padding: 85px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__left {
  margin-right: auto;
}

.footer-left-column__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-left-column__link {
  position: relative;
  font-size: 18px;
  color: #8993ad;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.footer-left-column__link:hover {
  color: #fc557c;
}

.footer-left-column__link::after {
  position: absolute;
  content: '';
  left: 0;
  opacity: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #fc557c;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.footer-left-column__link:hover::after {
  opacity: 1;
}

.footer__middle {
  margin-right: auto;
}

.footer-middle-column__tel {
  margin-bottom: 40px;
}

.footer-middle-column__tel-icon,
.footer-middle-column__mail-icon {
  line-height: 25px;
  margin-right: 20px;
}

.footer-middle-column__tel-link,
.footer-middle-column__mail-link {
  font-size: 25px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.footer-middle-column__tel-link:hover,
.footer-middle-column__mail-link:hover {
  color: #f53f4f;
}

.footer-right-column__btn {
  border: 1px solid #f53f4f;
  color: #f53f4f;
  padding: 12px 60px;
  margin-bottom: 25px;
  -webkit-transition: color .3s,
              background-color .3s;
  -o-transition: color .3s,
              background-color .3s;
  transition: color .3s,
              background-color .3s;
}

.footer-right-column__btn:hover {
  color: white;
  background-color: #f53f4f;
}

.social-link {
  background: url(../img/icons/sprite_social.png) no-repeat;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.footer-right-column__vk-link {
  background-position: 2px 2px;
}

.footer-right-column__fb-link {
  background-position: -55px 5px;
}

.footer-right-column__tw-link {
  background-position: -115px 3px;
}

.footer-right-column__inst-link {
  background-position: -172px 3px;
}

.footer__bottom {
  padding: 30px 0;
  background-color: #31293c;
  text-align: center;
}

.footer__copyright {
  color: white;
}

@media (max-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about-me {
    background: url(../img/contents/figure.svg) 600px 60px no-repeat;
  }

  .about-me__img {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .menu-nav__btn {
    display: inline-block;
  }

  .menu-nav__list {
    display: none;
  }

  .about-me {
    background: url(../img/contents/figure.svg) 478px 60px no-repeat;
  }

  .about-me__info {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .about-me__name {
    font-size: 54px;
  }

  .about-me__btn {
    padding: 21px 95px;
  }

  .backgrounds-icons__item_property_1 {
    top: 97px;
    left: 95px;
  }

  .backgrounds-icons__item_property_2 {
    top: 80px;
    left: 900px;
  }

  .backgrounds-icons__item_property_3 {
    top: 180px;
    left: 450px;
  }

  .backgrounds-icons__item_property_4 {
    top: 575px;
    left: 70px;
  }

  .backgrounds-icons__item_property_5 {
    top: 520px;
    left: 380px;
  }

  .backgrounds-icons__item_property_6 {
    top: 40px;
    left: 150px;
    -webkit-transform: scale(1.5) rotate(30deg);
        -ms-transform: scale(1.5) rotate(30deg);
            transform: scale(1.5) rotate(30deg);
  }

  .backgrounds-icons__item_property_7 {
    top: 300px;
    left: 800px;
    -webkit-transform: scale(1.5) rotate(-20deg);
        -ms-transform: scale(1.5) rotate(-20deg);
            transform: scale(1.5) rotate(-20deg);
  }

  .backgrounds-icons__item_property_8 {
    top: 50px;
    left: 500px;
    -webkit-transform: scale(1.5) rotate(20deg);
        -ms-transform: scale(1.5) rotate(20deg);
            transform: scale(1.5) rotate(20deg);
  }

  .backgrounds-icons__item_property_9 {
    top: 300px;
    left: 260px;
    -webkit-transform: scale(2) rotate(20deg);
        -ms-transform: scale(2) rotate(20deg);
            transform: scale(2) rotate(20deg);
  }

  .ability-container__article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .ability__row {
    width: 100%;
  }

  .ability__row:not(:last-child) {
    margin-bottom: 80px;
  }

  .ability__row:nth-child(2n-1) {
    margin-right: 0;
  }

  .article-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 90px;
  }

  .ability-container__article:not(:nth-last-of-type(-n+2)){
    margin-bottom: 80px;
  }

  .ability-container__article:not(:last-child) {
    margin-right: 0;
  }

  .ability-container__article:nth-child(2n+1) {
    margin-right: auto;
  }

  .ability-container__description {
    font-size: 20px;
  }

  .examples__btn {
    margin-top: 220px;
  }


  .cost-service__container {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-nav__btn {
    width: 24px;
    height: 24px;
  }

  .header__btn-mob {
    display: inline-block;
  }

  .header__right-tel {
    font-size: 18px;
  }

  .header__btn {
    display: none;
  }

  .about-me {
    height: 595px;
    background: url(../img/contents/figure.svg) -50px 120px no-repeat;
    background-size: 150%;
  }

  .about-me__container {
    padding: 0 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-me__info {
    padding: 12px 20px 0 20px;
    width: 100%;
    text-align: center;
    background-color: white;
  }

  .about-me__name {
    margin-bottom: 12px;
    font-size: 30px;
  }

  .about-me__professions {
    margin-bottom: 28px;
    font-size: 16px;
  }

  .btn-color-orange {
    font-size: 16px;
    width: 100%;
  }

  .about-me__btn {
    width: 100%;
    padding: 18px;
  }

  .about-me__img {
    height: 335px;
    padding-right: 20px;
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
                order: -1;
  }

  .main__ability  {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .title {
    font-size: 30px;
  }

  .ability__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .ability__row:not(:last-child) {
    margin-bottom: 50px;
  }

  .ability-container__article {
    max-width: 100%;
  }

  .ability-container__article:not(:last-child) {
    margin-bottom: 50px;
  }

  .article-container {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .ability-container__article:not(:last-child) {
    margin-right: 0;
  }

  .ability-container__description {
    font-size: 16px;
    line-height: 24px;
  }

  .backgrounds-icons__item_property_1 {
    top: 50px;
    left: 50px;
    -webkit-transform: scale(1.5) rotate(30deg);
        -ms-transform: scale(1.5) rotate(30deg);
            transform: scale(1.5) rotate(30deg);
  }

  .backgrounds-icons__item_property_2 {
    top: 90px;
    left: 250px;
    -webkit-transform: scale(1) rotate(18deg);
        -ms-transform: scale(1) rotate(18deg);
            transform: scale(1) rotate(18deg);
  }

  .backgrounds-icons__item_property_3 {
    top: 180px;
    left: 250px;
  }

  .backgrounds-icons__item_property_4 {
    top: 160px;
    left: 40px;
    -webkit-transform: scale(2) rotate(20deg);
        -ms-transform: scale(2) rotate(20deg);
            transform: scale(2) rotate(20deg);
  }

  .backgrounds-icons__item_property_5 {
    top: 30px;
    left: 180px;
    -webkit-transform: scale(1) rotate(-25deg);
        -ms-transform: scale(1) rotate(-25deg);
            transform: scale(1) rotate(-25deg);
  }

  .backgrounds-icons__item_property_6,
  .backgrounds-icons__item_property_8,
  .backgrounds-icons__item_property_9 {
    display: none;
  }

  .main__examples {
    padding: 50px 0;
  }

  .examples__title {
    margin-bottom: 40px;
  }

  .slider-examples__name {
    font-size: 18px;
  }

  .slick-dots {
    bottom: -70px;
  }

  .slick-dots li button:before {
    font-size: 11px;
    line-height: 11px;
  }

  .examples__btn {
    margin-top: 100px;
    min-width: 260px;
  }


  .cost-container {
    padding: 40px 0;
  }

  .cost-service__description {
    font-size: 28px;
    line-height: 40px;
  }

  .cost-service__note {
    padding-right: 10px;
    font-size: 15px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__top {
    padding: 50px 0;
  }

  .footer-left-column__link {
    font-size: 15px;
  }

  .footer__left {
    margin-right: 0;
    margin-bottom: 45px;
  }

  .footer__middle {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer-middle-column__tel {
    margin-bottom: 30px;
  }

  .footer-middle-column__tel-link,
  .footer-middle-column__mail-link {
    font-size: 20px;
    color: #8993ad;
  }
}